*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

:root {
    --blue-1-color: #163958;  
    --blue-2-color: #35c7c9;  
    /* 35c7c9 */
    /* #2889c4 */
    --blue-3-color: #496d9c;  
    --blue-4-color: #93a7c2;  
    --blue-5-color: #d6ecfe;  
    --blue-6-color: #b5cef0; 
    --black-color: #000000; 
    --white-color: #ffffff; 
    --color-1-text: #000000;
    /* 0b9396 */
    --color-2-text: #138486;
    --color-3-text: #66bdfa;
    --color-4-text: #000000;
    --search: #535d734e;
    --icon: #e74c3c;
    --hear: rgb(228, 214, 17);
    --pagination: #d6ecfe;
    --bd-pagination: #000000;
    --pagination-ac: #138486;
    --bd-pagination-ac: #000000;
}

html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.row {
    margin-left: 8px;
}

.container-fluid {
    padding: 0;
}

.cham {
    display: inline-block ;
    text-align: center ;
    width: 10px ;
    font-size: 14px ;
    line-height: 14px ;
}

.ft-chu {
    text-decoration: none;
    color: var(--black-color);
    
}

.ft-chu:hover {
    text-decoration: underline;
}

.fa-globe {
    margin-right: 5px;
}

.fa-facebook-square {
    margin-right: 5px;
}

.fa-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fixed {
    width: 100%;
    position: fixed;
    display: none;
    z-index: 10;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px var(--blue-4-color);
    border-radius: 0 0 25px 25px;
}

.fixed .img {
    width: 30%;
    height: 50px;
}

.fixed .img img {
    height: 50px;
}

.fixed nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: right;
    border: none;
    height: 50px;
}

.fixed nav ul{
    display: flex;
    margin-block-end: 0;
}

.fixed nav li {
    list-style: none;
    font-size: 13px;
    padding: 15px 20px;
}

.fixed li:hover a {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-2-text);
    color: var(--color-3-text);
    transition:all 0.3s ;
}

.fixed li a {
    text-decoration: none;
    color: var(--color-1-text);
}

.carousel img {
    border-radius: 0 0 25px 25px;
}

.pagination .page-link {
    background-color: var(--pagination);
    color: var(--black-color);
    border: var(--bd-pagination) 1px solid; 
}

.active>.page-link {
    z-index: 3;
    color: var(--white-color);
    background-color: var(--pagination-ac);
    border-color: var(--bd-pagination-ac);
}

.page-link:hover {
    /* z-index: 2; */
    color: var(--color-4-text);
    background-color: var(--blue-6-color);
    border-color: var(--bd-pagination);
}

header {
    position: relative;
    background-color: var(--blue-5-color);
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 15px var(--blue-3-color);
    margin-bottom: 20px;
}

header .head {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 5;
}

header .img {
    width: 30%;
    height: 100px;
    border-bottom:1px solid var(--color-1-text);
}

header .img img {
    height: 100px;
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100px;
    border-bottom:1px solid var(--color-1-text);
}

header nav ul{
    display: flex;
    margin-block-end: 0;
}

header nav li {
    list-style: none;
    padding: 15px 20px;
}

nav li:hover a {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-3-text);
    color: var(--color-3-text);
    transition:all 0.3s ;
}

header li a {
    text-decoration: none;
    color: var(--color-1-text);
}

aside {
    height: 100px;
    background-color: var(--blue-5-color);
    border-radius: 25px;
    box-shadow: 0 0 15px var(--blue-4-color);
    margin: 10px 0 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    float: right;
    padding-right: 12px;
    background-color: var(--blue-5-color);
    padding-bottom: 50px;
    border-radius: 25px;
    box-shadow: 0 0 15px var(--blue-4-color);
}

section img {
    width: 200px;
    height: 300px;
    border-radius: 25px 25px 0px 0px; 
}

section .tentruyen {
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 13px;
    height: 50px;
    border-radius: 0 0 25px 25px; 
    background-color: var(--black-color);
    padding: 0 15px;
}

section .box-shadow {
    position: relative;
    width: 200px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px var(--blue-3-color);
    transition: all 0.3s;
}

section .section-text {
    margin: auto;
    max-width: 1500px;
}

.fa-heart-o {
    position: absolute;
    color: var(--hear);
    font-weight: bold;
    padding: 5px;
    top: 7px;
    right: 9px;
    border-radius: 25px;
    transition: all 0.2s;
}

.fa-heart-o:hover {
    transform: scale(1.2);
}

section .box-shadow:hover {
    box-shadow: 10px 10px 15px var(--blue-2-color);
}

section .box-shadow:hover {
    transform: translateY(-8px);
}

section .box-shadow:hover .tentruyen {
    color: var(--blue-2-color);
}

section a {
    color: var(--color-2-text);
    text-decoration: none;
    
}


footer {
    height: 70px;
    margin-top: 20px;
    background-color: var(--blue-5-color);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 15px var(--blue-4-color);   
    display: flex;
    align-items: center;
}

footer .tong {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .name {
    margin-left: 5%;
}

footer .icon {
    margin-right: 5%;
}

footer .icon span {
    font-weight: 600;
    margin-right: 30px;
}

footer .name img {
    width: 20px;
    height: 20px;
}

.searchbar {
    background-color: var(--search);
    border-radius: 30px;
    padding: 5px;
    transition: width 0.2s linear;
}

.searchbar .search_icon{
    color: var(--black-color);
}

.search_input {
    color: var(--white-color);
    caret-color: var(--black-color);
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    margin-left: 20px;
    width: 80%;
}

.btn-secondary {
    background-color: var(--search);
    color: var(--black-color);
    border: none;
}

.search_input::placeholder {
    color: var(--black-color);
}

.searchbar:hover > .search_input {
    caret-color:red;
}

.searchbar:hover > .search_input::placeholder {
    color:var(--white-color);
}

.search_icon:hover {
    background: white;
    color: var(--icon);
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

#dangky_dangnhap {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
}

#dangky_dangnhap > button {
    border-radius: 30px;
    margin-right: 15px;
    text-align: center;
    width: 120px;
}

